body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
    line-height: 1.6;
    color: black;
    border-radius: 15px;
    background-color: white;
    background-image: url("https://media.istockphoto.com/id/2170553587/photo/real-estate-trading-and-wooden-balance-scale-depth-of-field.jpg?s=2048x2048&w=is&k=20&c=G7AVzCOMSLesIs9juWIB-3VQmiLU2VfetT4t0Vjdi8Y=");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    border-radius: 15px;
}

.form-group label {
    border-radius: 15px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:black;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
}

.radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.radio-group label {
    font-weight: normal;
    color:black;
}

.radio-group input {
    margin-right: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath d='M0 2l5 5 5-5z' fill='%23465775'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
